http:
  routers:
    n8n:
      rule: "Host(`n8n.local.test`)"
      entryPoints:
        - websecure
      service: n8n
      tls: {}

  services:
    n8n:
      loadBalancer:
        servers:
          - url: "http://n8n:5678"
